* {
    padding: 0;
    margin: 0;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 630px;
    position: relative; 
}

.welcome-message {
    flex: 1;
    text-align: center;
}

.welcome-message h1 {
    font-size: 5rem;
    color: #008000;
    font-family: 'Nerko One', cursive;
    text-decoration: underline;
}

.circle-logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.half-circle {
    width: 300px;
    height: 634px;
    margin-left: 550px;
    background-color: #008000;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 400px;
    height: auto;
    position: absolute;
    right: -50px;
}

.hojas-platanos {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    width: 400px; 
    height: auto;
    z-index: 1; 
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column; 
        height: auto; 
        padding: 20px; 
    }

    .welcome-message h1 {
        font-size: 4rem;
    }

    .half-circle {
        width: 250px;
        height: 300px; 
        margin-left: 0; 
        position: relative;
        margin-top: 20px;
    }

    .logo {
        width: 300px; 
        right: -30px;
    }
}

@media (max-width: 480px) {
    .welcome-message h1 {
        font-size: 3rem; 
    }

    .half-circle {
        width: 200px;
        height: 250px;
    }

    .logo {
        width: 250px;
        right: -20px;
    }
}
