@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
    font-family: 'Nerko One', cursive;
    background-color: #f5f5f5;
}

.menu-container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.navbar button {
    background-color: #008000bb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar button:hover {
    background-color: #007700;
}

.items-container {
    margin-bottom: 20px;
}

.item {
    margin: 10px 0;
}

.item input {
    margin-right: 10px;
}

.orden-personalizada {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.orden-personalizada h3 {
    color: #008000bb;
}