@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.login-template {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.bg-custom-green {
    background-color: #fff;
}

.form-container {
    width: 30%;
    height: 80%;
    background-color: #008000bb;
    text-align: center;
    color: white;
    background-image: url(../assets/plantaloginyregister.png);
    background-repeat: no-repeat;
    background-position: 100px bottom;
    
}

.btn-custom-white {
    background-color: #fff;
    color: #28a745;
    border: 1px solid #28a745;
}


.text-right a{
    text-decoration: none;
    color: white;
}

.text {
    color: white;
}

.label-text{
    color: white;
}

.cline{
    display: flex;
    justify-content: center;
}

.line{
    height: 1px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 10px;
}